{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT ME</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            IF you have any questions, please don't hesitate to 
            contact. I will come back to you within a matter of
            hours.
        </p>
    </div>
<div class="container">
    <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="g fa-solid fa-envelope fa-3x mb-3"></i>
                <h3 class="text-danger mb-3">Gmail</h3>
                <p class="gmail">nishuwaghmare526@gmail.com</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-instagram fa-3x mb-3"></i>
                <h3 class="text-danger mb-3">Instagram</h3>
                <p class="insta"><a class="text-white" href="https://instagram.com/neissue?igshid=YmMyMTA2M2Y=">@neissue</a></p>
            </div>        
    </div>
</div>
</div>

{% endblock content %}